/* clear */
.clear:before, .clear:after { 
	content:' '; 
	display:table; 
} 

.clear:after { 
	clear:both; 
} 

.clear { 
	*zoom:1; 
} 

.clearer { 
	clear: both; 
	height: 0; 
	line-height: 0; 
	display: block; 
}

img { 
	max-width:100%;
	height:auto;
	vertical-align:bottom; 
} 

a { 
	text-decoration:none;
	transition: all 300ms;
	color: #488ccb;
	
	&:hover {
		color: darken(#488ccb, 15);	
	}
} 

a:focus { 
	outline:0; 
} 

a:hover, a:active { 
	outline:0; 
} 

input:focus { 
	outline:0; 
	border:1px solid $blue; 
} 

iframe {
	display: block;
}

.hidden {
	display:none;
}

.mobile-hide {
	@media screen and (max-width: 500px) {
		display: none;
	}
}

a, button, input[type="submit"], li {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	backface-visibility: hidden;
}

small {
	font-size: .8em;
}

sup {
	font-size: 60%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.25em;
}

table {
	width: 100%;
	border: 1px solid #eee;
	margin-bottom: 1.5em; 

	th {
		font-weight: 700;
		padding: 1em;
		background: #eee; 
	}

	td {
		padding: 1em;
		border: 1px solid #eee;
		border-collapse: collapse; 
	}

	tr {
		&:nth-of-type(odd) {
			background: #fafafa;
		} 
	}
}
