#footer {
	box-sizing: border-box;

	&.dark {
		color: #fff;
		a {
			color: #fff;
		}
	}

	.footer-social {
		float:left;
		width:30%;

		@media screen and (max-width: pem(800)){
			text-align: center;
			width:100%;
			margin-bottom: 20px;
		}

		.footer-social-list{
			li{
				@include ib();
				margin-left: .5em;				

				&:first-child{
					margin-left: 0;
				}
			}

			.footer-social-icon {
				opacity: .9;
				transition: all 300ms;

				&:hover {
					opacity: 1;
					transform: scale(1.1, 1.1) !important; 
				}
			}
		}
	}	


	.footer-bottom{
		color: #666;
		font-size:0.9em;

		.wrapper {
			padding:20px 0;
			border-top:1px solid #b2b2b2;		
			display:flex;
			align-items: center;
			justify-content: space-between;

			.footer-copyright{
				text-align:left;
				color: #666;

				@media screen and (max-width: pem(800)){
					text-align:center;
				}
			}			

			.footer-credit{

				@media screen and (max-width: pem(800)){
					text-align:center;
				}
			}
		}
	}
	
}

