.gform_wrapper {
	form {
		ul {
			margin: 0;
			li {
				padding-left: 0;
				
				&:before {
					display: none;
				}
			}
		}
	}
}

input, textarea {
	font-size:16px;
	border-radius:0;
	margin:0;
	padding:7px 10px;
	border:1px solid $light-grey;
	color:$grey;
	font-family:inherit;
	background:#ffffff;
}

select {
	font-size:16px;
	padding:5px;
	font-family:inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="submit"],
button{
	font-family:inherit;
	background: $blue;
	color:$white;
	border-radius:5px;
	outline:0;
	border:none;
	cursor:pointer;
	padding:5px 10px;
	-webkit-transition: background 0.15s ease-in-out;
	-moz-transition: background 0.15s ease-in-out;
	-ms-transition: background 0.15s ease-in-out;
	-o-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
	-webkit-appearance: none !important;

	&:hover {
		background:lighten($blue,10);
	}
}

.gform_fields {
	.gfield {
		margin-bottom:20px;

		input,
		textarea,
		select {
			font-size:16px !important;
			padding:5px !important;
		}

		.gfield_description{
			color:$light-grey;
		}

		.ginput_container_fileupload {
			.screen-reader-text {
				margin-left:10px;
			}
		}
	}
}

.gform_footer{
	input[type=submit]{
		background:$blue;
		color:$white;
		padding:10px 20px !important;
		font-family:inherit;
	} 
}

.gform_next_button {
	padding: 10px 20px;
	float:right;
	background:$blue;
	color:$white;
	padding:10px 20px;
	-webkit-transition: background 0.15s ease-in-out;
	-moz-transition: background 0.15s ease-in-out;
	-ms-transition: background 0.15s ease-in-out;
	-o-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;

	&:hover {
		background:lighten($blue,10);
	}
}

.gform_previous_button {
	padding:10px 20px;
	background:$blue;
	color:$white;
	float:left;
	-webkit-transition: background 0.15s ease-in-out;
	-moz-transition: background 0.15s ease-in-out;
	-ms-transition: background 0.15s ease-in-out;
	-o-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
	
	&:hover {
		background:lighten($blue,10);
	}
}

.gform_page_footer {
	input[type=submit]{
		padding:10px 20px;
		background:$blue;
		color:$white;
		float:right;
		-webkit-transition: background 0.15s ease-in-out;
		-moz-transition: background 0.15s ease-in-out;
		-ms-transition: background 0.15s ease-in-out;
		-o-transition: background 0.15s ease-in-out;
		transition: background 0.15s ease-in-out;
		
		&:hover {
			background:lighten($blue,10);
		}
	}
}

.gform_wrapper {
	.gf_progressbar_percentage {
		span {
			display:none !important;
		}
	}
}

.gform_wrapper ul.gfield_checkbox, 
.gform_wrapper ul.gfield_radio {
	margin:10px 0 0 15px !important;
}

.gform_wrapper ul.gfield_radio li, 
.gform_wrapper ul.gfield_checkbox li {
	overflow:visible !important;
}