// FOUR COLUMN GRID 
.grid {
    img {
        width:100%;
    }

    .seven-col-grid,
    .six-col-grid,
    .five-col-grid,
    .four-col-grid,
    .three-col-grid,
    .two-col-grid{
        &.no-min{
            @media screen and (max-width: $break-to-1) { 
                width: 100%;
                margin-left:0;  
            } 
        }
    }
}

.seven-col-grid { 
    width: 12.85%;  
    float: left; 
    margin-bottom: 3%;
    margin-left: 1.675%;
    margin-top:0;  

    &.seven-col-clear { 
        clear: left; 
        margin-left:0;      

        @media screen and (max-width: $break-to-4) { 
            clear:none;
            margin-left: 4%;
        }
    }
}

.six-col-grid { 
    width: 15%;  
    float: left; 
    margin-bottom: 3%;
    margin-left: 2%;
    margin-top:0;  

    &.six-col-clear { 
        clear: left; 
        margin-left:0;  
    
        @media screen and (max-width: $break-to-4) { 
            clear:none;
            margin-left: 4%;
        }  
    }
}

.five-col-grid { 
    width: 18%;  
    float: left; 
    margin-bottom: 4%;
    margin-left: 2.5%;
    margin-top:0;

    &.five-col-clear { 
        clear: left; 
        margin-left:0;

        @media screen and (max-width: $break-to-4) { 
            clear:none;
            margin-left: 4%;
        } 
    }
}

// catch all for higher than 4 cols
.five-col-grid,
.six-col-grid,
.seven-col-grid {

    @media screen and (max-width: $break-to-4) { 
        width: 22%; 
        margin-left: 4%;
    }    

    @media screen and (max-width: $break-to-3) { 
        width: 30.5%; 
    } 

    @media screen and (max-width: $break-to-2) { 
        width: 48%;  
    }

    &.four-col-clear { 
        @media screen and (max-width: $break-to-4) { 
            clear: left; 
            margin-left:0; 
        }
        @media screen and (max-width: $break-to-3){
            clear: none; 
            margin-left:4%; 
        }
    }    

    &.three-col-clear { 
        @media screen and (max-width: $break-to-3){
            clear: left; 
            margin-left:0; 
        }

        @media screen and (max-width: $break-to-2){
            clear: none; 
            margin-left:4%; 
        }        
    }   

    &.two-col-clear { 
        @media screen and (max-width: $break-to-2){
            clear: left; 
            margin-left:0; 
        }
    }
}

.four-col-grid { 
    width: 22%;  
    float: left; 
    margin-bottom: 4%;
    margin-left: 4%;
    margin-top:0;  

    @media screen and (max-width: $break-to-3) { 
        width: 30.5%; 
    } 

    @media screen and (max-width: $break-to-2) { 
        width: 48%;  
    }     

    &.four-col-clear { 
        clear: left; 
        margin-left:0;  

        @media screen and (max-width: $break-to-3){
            clear:none;
            margin-left:4%;
        }
    }    

    &.three-col-clear { 
        @media screen and (max-width: $break-to-3){
            clear: left; 
            margin-left:0; 
        }

        @media screen and (max-width: $break-to-2){
            clear: none; 
            margin-left:4%; 
        }
    }   

    &.two-col-clear { 
        @media screen and (max-width: $break-to-2){
            clear: left; 
            margin-left:0; 
        }
    }

    &.four-col-min {
        @media screen and (max-width: $break-to-3) { 
            width: 22%; 
        } 

        @media screen and (max-width: $break-to-2) { 
            width: 22%;  
        } 

        &.four-col-clear { 
            clear: left; 
            margin-left:0;  

            @media screen and (max-width: $break-to-3){
                clear:left;
                margin-left:0;
            }

            &.three-col-clear { 
                @media screen and (max-width: $break-to-3){
                    clear:left;
                    margin-left:0;
                }

                @media screen and (max-width: $break-to-2){
                    clear:left;
                    margin-left:0;
                }
            } 

            &.two-col-clear { 
                @media screen and (max-width: $break-to-2){
                    clear:left;
                    margin-left:0;
                }
            }
        }    

        &.three-col-clear { 
            @media screen and (max-width: $break-to-3){
                clear:none;
                margin-left:4%;
            }

            @media screen and (max-width: $break-to-2){
                clear:none;
                margin-left:4%;
            }
        }   

        &.two-col-clear { 
            @media screen and (max-width: $break-to-2){
                clear:none;
                margin-left:4%;
            }
        }
    }
} 
  
// THREE COLUMN GRID  

.three-col-grid { 
    width: 30%;  
    float: left; 
    margin-bottom: 5%; 
    margin-left: 5%; 

    @media screen and (max-width: $break-to-2) { 
        width: 49%;  
        margin-bottom: 2%;
        margin-left:2%; 
    }

    &.three-col-clear { 
        clear:left;
        margin-left:0;

        @media screen and (max-width: $break-to-2) { 
            clear:none; 
            margin-left: 2%;
        }
    }

    &.two-col-clear { 
        @media screen and (max-width: $break-to-2) { 
            clear: left;  
            margin-left: 0;
        } 
    }  

    &.three-col-min {
        @media screen and (max-width: $break-to-2) { 
            width: 30%;  
            margin-bottom: 5%; 
            margin-left: 5%; 
        }

        &.three-col-clear { 
            clear:left;
            margin-left:0;

            @media screen and (max-width: $break-to-2) { 
                clear:left;
                margin-left:0;
            }

            &.two-col-clear { 
                @media screen and (max-width: $break-to-2) { 
                    clear: left;  
                    margin-left: 0;
                } 
            } 
        }

        &.two-col-clear { 
            @media screen and (max-width: $break-to-2) { 
                clear: none;  
                margin-left: 5%;
            } 
        } 
    }
}

// TWO COLUMN GRID  

.two-col-grid { 
    width: 49%;  
    float: left; 
    margin-bottom: 2%;
    margin-left:2%; 

    &.two-col-clear {
        clear: left;  
        margin-left:0;
    }
}