#header-hero {
	width: 100%;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	transition: all 300ms;
	min-height: 300px;
		
	#header-background-image {
		width: auto;
		min-width: 100%;
		max-width: none;
		min-height: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		@media screen and (max-width: 1024px) {
			height: 100%;
			width: auto !important;
			min-width: 100%;
			max-width: none !important;
		}			
	}
	
	#header-hero-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		
	}
	
	.wrapper {
		overflow: hidden;
		height: 100%;
	}
	
	.header-width {
		width: 100%;
		margin: 0 auto; 
		height: 100%; 
		position:relative;
		
		.left {
			left: 1em !important;
			
			@media screen and (max-width: 1100px) {
				left: 2em !important;
			}
			
		}
		
		.right {
			right: 1em !important;

			@media screen and (max-width: 1100px) {
				right: 2em !important;
			}			
			
		}		
		
	}
	
	
	.hero-content {
		position: absolute;
		margin: auto;
		bottom: 15%;
		z-index: 99;
		width: 50%;
		min-width: 200px;
		transition: all 300ms;
				
		.hero-content-body {
			
		}
		
		.hero-content-footer {
			font-size: 1.1em;
			text-transform: uppercase;
		}
		
	}
	
}