/* global box-sizing */
*, *:after, *:before { 
	box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-font-smoothing:antialiased; 
	font-smoothing:antialiased; 
	text-rendering:optimizeLegibility; 
} 

body {
	font-family:$base;
}

#main {

}

/* scroll to top link */
#top-link {
	text-align:center;
	cursor: pointer;
	color: #fff;
	@include rem(1.4);
	display: none;
	position: fixed;
	bottom: 10px;
	right: 5%;
	padding: 5px 10px 10px;
	@include rgba(#000000,0.6);
	border-radius: 2px;
	z-index: 9999;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	transition: background-color 0.5s;

	span {
		display: block;
		@include rem(0.7);
		line-height: 0.8em;
	}

	&:hover{
		@include rgba(#000000,0.8);
	}
}

.wrapper {  
	width:100%;
	margin:0 auto; 
	box-sizing: border-box;
	position: relative;

	@media screen and (min-width: pem(0)){
		min-width: 0;
	}
	 
} 

.slides img {
	display:block;
}

.page-title {
	@include rem(2.4);
	padding-bottom:10px;
	border-bottom:1px solid $light-grey;
	margin-bottom:20px;

	@media screen and (max-width: pem(600)){
		@include rem(1.8);
	}
	 
}

.custom-excerpt {
	margin-bottom:10px;
}


.embed-container,
.embed-youtube { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-bottom:20px;
} 

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed,
.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vertical-center {
	position: absolute !important;
	top: 50% !important;
	transform: translateY(-50%);
}