// FONT SIZE REM
@mixin rem($sizeValue: 1) {
  font-size: ($sizeValue * $base-font-size) + px;
  font-size: $sizeValue + rem;
}

// FONT FAMILY
@mixin font-family($font,$weight){
	font-family:$font;
	font-weight:$weight;
}

// BACKGROUND RGBA
@mixin rgba($color, $opacity: 1) {
	background: $color;
	background: rgba($color, $opacity);
}

// BACKGROUND HEX TO RGBA
@mixin hex_to_rgba($hex_color, $opacity: 1) {
	background: $hex_color;
	$red: red($hex_color);
	$green: green($hex_color);
	$blue: blue($hex_color);
	background: rgba($red, $green, $blue, $opacity);
}

// DISPLAY INLINE-BLOCK FOR ALL!
@mixin ib() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	white-space:nowrap;
}

// BOX SIZING
@mixin box-sizing(){
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}