.nes-view-date button, .nes-prev-next-month-wrap button {
	transition: all 300ms;
	
	&:hover {
		transform: scale(1.1, 1.1);
	}
}


.nes-filter-wrap {
	margin-bottom: 1em;
	box-shadow: 0 1px 1px rgba(#000, .2);
}

#nes-shortcode-view {
	//box-shadow: 0 1px 1px rgba(#000, .2);
}

.nes-filter-toggle {
	background: rgba(#fff, .9);
}


#nes-calendar-month .nes-event>a {
	&:hover {
		transform: scale(1.2, 1.2);
	}
}

#nes-loading {
	opacity: .5;
	padding-top: 200px;
}

.nes-header-row {
	background: linear-gradient(#eee, darken(#eee, 5)) !important;
	text-shadow: 0 1px 0 rgba(#fff, .7);	
}

#nes-table-wrap {
	
	.nes-tabbed-view {
		width: 75% ;
		box-sizing: border-box;
	}
	
	.nes-location-tabs {
		box-sizing: border-box;
		border-radius: 3px 0 0 3px;
		margin-top: 57px;
		background: linear-gradient(left, #eee 96%, darken(#eee, 4)) !important;
		box-shadow: 0 0 3px rgba(#333, .1) inset;
		
		
		ul {
			padding-left: 0;
			margin-left: 0;
			
			li {
				padding: .5em;
				transition: all 300ms;
				
				a {
					text-shadow: 0 1px 0px rgba(#fff, .6);
				}
				
				&.nes-active-tab {
					padding: 1em;
					&:hover {
						background: #fff;
					}
				}
				
				&:hover {
					background: rgba(#fff, .3);
				}
				
				&:before {
					display: none;
				}
				
			}
		}
	}
}

#nes-calendar-month {
	
	.calendar-row {
		td {
			background: rgba(#fff, .95);
			transition: all 300ms;
			
			.day-number {
				color: #888 !important;
			}
			
			&:hover {
				background: #fff;
			}
			
		}
	}
	
	
	.nes-event {
		.nes-event-tooltip {
			ul {
				margin: 0;
				padding: 0;
				li {
					padding-left: 0;
					color: #333;
					&:before {
						display: none;
					}
				}
			}
		}
	}
}

.nes-button {
	transition: all 300ms;
	&:hover {
		transform: scale(1.1, 1.1);
	}
}