.chosen-choices {
	li {
		&:before {
			display: none;
		}
	}
}

.search-results {
	.page-content {
		>h1 {
			margin-bottom: 30px;
			padding-bottom:10px;
			border-bottom:1px solid #ccc;
		}


		>article {
			margin-bottom: 40px;
		}
	}
}

.loop {
	article {
		margin-bottom:30px;
		border-bottom: 1px solid #eee;

		.post-title {
			margin-bottom: 5px;
		}

		.written-by {
			color:#b7b7b7;
			margin-bottom: 10px;
		}
	}
}

.single-event {
	.nes-back-button {
		display: block;
		width: 100%;
		background: #666;
		color: #fff;
		padding: 1em;
		text-align: left;
		float: none;
		border-radius: 0 0 3px;
	}
}

.single-staff {
	.staff-thumb {
		float:left;
		margin-right: 4%;
		max-width: 50%;
		margin-bottom: 2%;

		@media screen and (max-width: pem(400)){
			width:100%;
			max-width: 100%;
			margin-right:0;
		}
	}

	.staff-info {
		@media screen and (max-width: pem(400)){
			clear:left;
			margin:15px 0;
		}
		 
		.email {
			word-break:break-all;
		}
	}
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid $light-grey;

	@media screen and (max-width: pem(450)){
		height:250px;
	}
	 
}

.blog {
	.content-wrap {
		padding-top: 40px;
		padding-left: 1em;
		
		@media screen and (max-width: 1100px) {
			padding-left: 2em;
		}
		
		@media screen and (max-width: 768px) {
			padding-right: 2em;
		}
		
		.post {
			margin-bottom: 1.5em;
		}
	}
}

#header-hero.default {
	.hero-content {
		padding-left: 1em;

		@media screen and (max-width: 768px) {
			padding-left: 2em !important;
		}		

	}
}

.single-post {
	#header-hero {
		min-height: 300px !important;
		
		.hero-content {
			margin-top: 20px !important;
			padding-left: 1em;

			h1 {
				text-transform: none !important;
				font-weight: 500;
				font-size: 1.75em !important;
			}
			
		}
		
	}
}

.post-thumb {
	max-height: 300px;
	overflow: hidden;
	margin-bottom: 1em;
}    
    
.post-meta {
	margin-bottom: 1em;
	font-size: .9em;
	font-style: italic;
}

.single-post .post-thumb {
	margin-bottom: 1em;
	max-height: 450px;
}

.product-search-page{
	padding:30px 0;

	.number-of-results {
		margin-bottom: 30px;
	}

	.product-search-sidebar{
		float:left;
		width:25%;
		margin-bottom: 30px;
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
		background: #fafafa;

		@media screen and (max-width: pem(800)){
			width:100%;
		}

		.sidebar-header {
			color:#fff;
			background:#6da3cf;
			padding:10px 20px;
		}

		.sidebar-section {
			padding:20px;
		}

		.sidebar-search-form {
			.search-wrap{
				padding:15px;

				.search-container {
					background:#fff;
					border-radius: 5px;
					border:1px solid #ccc;

					input {
						width:80%;
						border:none;
						background:none;
					}

					button {
						float:right;
						width:20%;
						background:none;
						color:#999;
						font-size: 1.1em;
						line-height: 1.5em;
						text-align: right;
					}
				}
			}
		 
			.search-refine {
				text-align: center;

				h6 {
					text-align: left;
					font-size:1.2em;
					margin-bottom: 20px;
				}

				.ui-slider-handle {
					transition:none;
					cursor:pointer;
					background:#e6e6e6;
				}		

				.refine-values {
					margin:10px 0 20px;
					font-size:0.9em;
					text-align:center;
				}
			}

			.checkbox-list {
				li {
					margin-bottom: 10px;
					line-height: 1.2em;

					input {
						float:left;
						margin-top:2px;
					}

					span{
						display:block;
						margin-left:20px;
					}
				}
			}
		}
	}

	.product-search-results {
		float:right;
		width:72%;
		margin-bottom: 30px;

		@media screen and (max-width: pem(800)){
			width:100%;
		}

		.results-top-bar{
			background: #0065b0;
			color:#fff;
			padding:10px 20px;
			font-size: 0.9em;
			margin-bottom: 40px;

			.sort-by {
				float:right;
				color:#6da3cf;

				span {
					display: inline-block;
					margin:0 10px;
					color:#fff;
				}
			}

			a {
				color:#fff;
			}
		}

		.results-list {
			overflow: hidden;

			li{
				width:33.33%;
				margin:0 0 40px;
				padding:0 20px;
				border-bottom:1px solid #ccc;

				@media screen and (max-width: pem(800)){
					width:50%;
				}
				 
			}

			.product-image {
				display: flex;
				align-items:center;
				justify-content: center;
				height:200px;
				margin-bottom: 15px;

				@media screen and (max-width: pem(500)){
					height:160px;
				}
				 
				img {
					max-height:100%;
					width:auto;
				}
			}

			.product-info {
				height:100px;
				line-height:1.2em;
				font-weight: bold;

				.price {
					font-weight:normal;
					color:#333;
					margin-top:5px;

					ins {
						text-decoration: none;
					}
				}
			}
		}

		.results-pagination {
			text-align: center;
			padding:0 10px;

			li {
				display: inline-block;
				margin:0 5px;
			}

			.pagination-previous {
				float:left;

				i {
					margin-right:5px;
					color:#ccc;
					font-size: 0.8em;
				}
			}

			.pagination-next {
				float:right;

				i {
					margin-left:5px;
					color:#ccc;
					font-size: 0.8em;
				}
			}
		}
	}
}