.sidebar {
	
	.sidebar-widget {
		margin-bottom:30px;
		font-weight: normal;
		@include rem(0.8);

		>div {
			margin-bottom: 30px;
			padding: 2em;
			border: 10px solid #f5f5f5;
		}

		h3 {
			font-size: 2em;
			font-weight: 700;
			text-transform: uppercase;
			margin: 0 0 1.5em 0;
			padding-bottom: .5em;
			border-bottom: 1px solid #eee;
			text-align: center;
		}

		ul {
			li {
				@include rem(1);
				margin-bottom: 5px;
			}
		}

		.tribe-events-adv-list-widget {

			h4 {
				@include rem(1);
				margin-bottom:0;
			}

			ol {
				li {
					margin-bottom:10px;
				}
			}

			.duration {
				font-weight: normal;
			} 
		}

		.tribe-mini-calendar-event{
			margin-bottom: 10px;

			h1,h2,h3,h4,h5,h6{
				@include rem(1.2);
				line-height: 1em;
			}
		}
	}
}