#header-slider {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	transition: all 300ms;
	
	&:hover {
		.slick-arrow {
			opacity: .3;
		}
		
		.slick-arrow.slick-prev {
			left: 2%;
		}
		
		.slick-arrow.slick-next {
			right: 2%;
		}		
		
	}
	
	.slick-arrow {
		color: transparent;
		z-index: 99;
		opacity: 0;
		box-sizing: border-box;
		padding: 1em;
		transition: all 300ms;
		
		.slick-arrow:hover {
			opacity: .9;
		}
		
		&.slick-prev {
			left: -2%;
			font-size: 1em;
			line-height: 1em;
			transition: all 300ms;
			padding-right: 4em;
			
			&:hover {
				left: 1%;
				transition: all 300ms;
			}
			
			&:before {
				transition: all 300ms;
				opacity: 1;
				@include bt-icon();
				color: #fff;
				content: $bt-var-angle-left;
				font-size: 30px;
			}
		}
		
		&.slick-next {
			right: -2%;
			font-size: 1em;
			line-height: 1em;
			transition: all 300ms;
			padding-left: 4em;
			
			&:hover {
				right: 1%;
			}			
			
			&:before {
				transition: all 300ms;
				opacity: 1;
				@include bt-icon();
				color: #fff;
				content: $bt-var-angle-right;
				font-size: 30px;
			}
		}
		
	}
	
	.slick-slide {
		position: relative;
		height: 100%;
		float: left;
		background-position: center 0;
	}
	
		.slide-content {
			min-width: 200px;
			position: absolute;
			margin: 0 auto;
			bottom: 10%;
			left: 0;
			right: 0;
			//text-align: center;
			box-sizing: border-box;
			box-shadow: 0 0 14px rgba(#333, .5);
						
			.slide-body {
				overflow: hidden;
				padding: 1em;
				padding-bottom: 0;
				margin-bottom: 2px;
				border-radius: 2px 2px 0 0;
				color: #fff;
				
				h1, h2, h3, h4, h5, h6 {
					color: #fff;
				}
				
				h2 {
					color: #fff;
					font-size: 2em;
					font-weight: 600;
				}
				
				p {
					font-size: 1.1em;
					color: #fff;
					opacity: .9;
				}
				
				ul {
					font-size: 1.2em;
					padding-left: 1em;
					margin-bottom: .5em;
					
					li {
						padding-left: 1.25em;
						&:before {
							color: #fff;
							font-weight: 900;
							content: $bt-var-plus;
						}
					}
				}
				
			}
			
			.slide-footer {
				text-align: center;
								
				.button {
					display: block;
					padding: 1em;
					width: 100%;
					border-color: rgba(#fff, .5);
					color: #fff;
					border-width: 1px;
					font-size: 1.1em;
					box-sizing: border-box;
					border-radius: 0 0 6px 6px;
					text-transform: uppercase;
					transition: all 300ms;
					
					&:hover {
						box-shadow: 0 0 10px rgba(#000, .3);
					}
				}			
			}
		}	
	
	.slick-track {
		overflow: hidden;
	}
	
}