body { 
	font-size: 16px;
	line-height: 1.4em;  
	color:#333; 
} 

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3em;
	margin: 0 0 0.5em 0;
	padding: 0;
}

h1 {
	font-size: 2.25em;
	line-height: 1.1em;
	font-weight: 800;
	@media screen and (max-width: pem(800)){
		font-size: 1.5em
	}
}

h2 {
	font-size: 1.8em;
	line-height: 1.2em;
	@media screen and (max-width: pem(800)){
		font-size: 1.3em;
	}
}

h3 {
	font-size: 1.4em;
	@media screen and (max-width: pem(800)){
		font-size: 1.25em;
	}
}

h4 {
	font-size: 1.25em;
	margin-bottom: .25em;
	@media screen and (max-width: pem(800)){
		font-size: 1em;
	}
}

h5, h6 {
	font-size: 1em;
	margin-bottom: .8em;
	font-weight: 800;
}

strong {
	font-weight: 800;
}

em {
	font-style: italic;
}


blockquote {
	max-width: 60%;
	margin: 2em auto;
	font-size: 1.5em;
}

ol {
	list-style-type: decimal !important;
	list-style-position: inside;
	
	li {
		list-style-type: decimal !important;
		line-height: 1.3em;
		margin-bottom: .5em;
	}
	
}

hr {
	border: none;
	border-top: 1px solid #eee;
}

.page-content {
	
	ol, ul {
		padding-left: 3em;
		margin-bottom: 2em;
	}
	ul {
		list-style-type: none;
		
		li {
			position: relative;
			display: block;
			line-height: 1.3em;
			margin-bottom: .5em;		
		}
	}


	ul {
		li {
			padding-left: 1em;
			
			&:before {
				@include bt-icon();
				position: absolute;
				left: 0;
				top: .3em;
				content: $bt-var-play;
				font-size: .75em;
			}

			ul {
				margin-top:0.5em;
			}
		}
	}
}

p {
	margin: 0 0 1.5em 0;
}