/* FONT */
$base-font-size: 16;
$base: 'Arial';
$bold: 'Arial Bold';

/* COLORS */
$white: #ffffff;
$black: #000000;
$grey: #424242;
$light-grey: #b7b7b7;
$blue: #424242; // now greyscale, was #3a5e8c
$yellow: #e8e8e8; // now greyscale, was #f6d565


/* GRID SYSTEM */
$break-to-4: 65em;
$break-to-3: 50em; 
$break-to-2: 50em; 
$break-to-1: 25em; 


/* MOBILE NAV */
$break-to-mobile-nav: 1050;