// Styles for all of my weird little flex blocks and widgets- this is expanding upon the basic styles from our BC Flex Content plugin

.content-twitter-widget {
	height: 100%;
	
	.widget {
		height: 100%;
		
		.fetched_tweets {
			height: 100%;
			
			li {
				box-sizing: border-box;
				
				.tweet_data {
					font-family: inherit !important;
				}
				
			}
			
			&.slider {
				
			}
			
		}
	}
}

.nes_events_list_widget {
	
	.nes-list-item {
		padding: 1em;
		box-sizing: border-box;
		margin-bottom: 0 !important;
		border-bottom: 1px solid #fafafa;
		transition: all 300ms;
		
		&:hover {
			background: #fafafa;
			transform: scale(1.02, 1.02);
		}
		
		&:last-child {
			border-bottom: none;
		}
		
		h5 {
			font-size: 1.1em;
		}
	}
	
	.view-all-events {
		width: 100%;
		float: none !important;
		clear: both;
		margin: 0 !important;
		
		a {
			float: none;
			display: block;
			width: 100%;
			text-align: center;
			padding: .5em;
			text-transform: uppercase;
			background: rgba(#488ccb, .8);
			color: #fff;
			transition: all 300ms;
			border-radius: 1.5em;
			box-sizing: border-box;
			
			
			&:hover {
				background: rgba(#488ccb, 1);
				transform: scale(1.02, 1.02);
			}
		}
	}
}

.content-team-grid {
	.grid {
		.team-member {
			.name {
				font-size: 1em;
			}
		}
	}
}

.content-block {
	.accordion-title {
		transition: all 300ms;
		
		i {
			transition: all 300ms;
		}
		
		&:hover {
			transform: scale(1.01, 1.01);
		}
		
		&.open {
			i {
				
				transform: rotate(180deg);
			}
		}
		
	}
}

.dark {
	
	.content-team-grid .grid .team-member .name, .content-team-grid .grid .team-member .title {
		color: #fff;
	}
	
	.nes_events_list_widget .nes-widget-list .nes-list-item .nes-venue-location {
		color: #fff;
		opacity: .7;
	}
	
	.nes-list-item {
		border-color: rgba(#fff, .2);	
		
		&:hover {
			background: rgba(#000, .1);
		}
	}
	
	.view-all-events {
		
		a {
			
			background: rgba(#fff, .8);
			color: #488ccb !important;
			text-shadow: 0 1px 0px rgba(#fff, .5);
			
			&:hover {
				background: rgba(#fff, 1);
				box-shadow: 0 0 5px rgba(#333, .25);
				text-decoration: none !important;
				color: #488ccb;
				transform: scale(1.01, 1.01);
			}
		}
	}
	
	.content-block {
		.accordion-title {
			background: rgba(#fff, .9);
			
			&:hover {
				background: #fff;
			}
		}
	}
	
}