// Cart Dropdown

.woocommerce #header .utility-nav {
	overflow: visible;
	
	.wrapper {
		overflow: visible !important;
	}
	
}

#header .cart {
	position: relative;
	z-index: 99;
	overflow: visible;
		
	#cart-dropdown-loader {
		display: none;
		position: absolute;
		top: 130%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, .8);
		
		i {
			font-size: 3em;
		}
		
	}
	
	.mo-cart-drop-content-in {
		position: absolute;
		top: 50%;
		right: 0;
		background: #fff;
		opacity: 0;
		visibility: hidden;
		transition: all 400ms;
		height: 0;
		
		.mo-buttons {
			border-top: 1px solid #e0ebee;
			padding: 1em;
			display: flex;
			justify-content: space-between;
			
			li {
				margin-left: 0;
				display: block;
				
				&:first-child {
					margin-right: 1em;
				}
				
			}
		
			
			li a {
				background: transparent;
				color: #4a8ecd;
				border: 1px solid #4a8ecd;
			}
		}
		
		ul.cart_list {
			padding-top: 1em;
			li {
				display: block;
				white-space: normal;
				width: 100%;
				padding: .5em .5em .5em 1em;
				color: #666;
				overflow: hidden;
				
				&:hover {
					background: rgba(#e0ebee, .4);
					
					.ajax-remove-item {
						opacity: 1;	
					}	
					
				}
				
				img {
					float: none;
					margin-left: 0;
					max-width: 50px;
					height: auto;
				}
				
				a {
					color: #4a8ecd;
				}
				
				.quantity {
					font-size: .9em;
				}
				
				.mo-cart-product-title {
					float: left;
					width: 90%;
					line-height: 1.2em;
				}
				
				.ajax-remove-item {
					float: right;
					opacity: 0;
					transition: all 400ms;
				}
				
				.thumbnail-p {
					float: left;
					margin-right: .5em;
					
				}
				
			}
		}
		
	}
	
	&:hover {
		
		#cart-dropdown-loader {
			display: block;
			z-index: 100;
		}
		
		.mo-cart-drop-content-in {
			opacity: 1;
			visibility: visible;
			top: 130%;
			box-shadow: 0 0 5px rgba(0,0,0,.1);
			height: auto;
		}
		
	}
	
}

.woocommerce-page {
	#main {
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="tel"],
		textarea {
			background:#f2f2f2;
			border:none;
			border-top:1px solid #dddddd;
		}

		.woocommerce-error {
			li {
				&:before{
					display: none;
				}
			}
		}
		
		.woo-grid {
			display:block;

			.woo-page-title {
				padding:40px 20px 10px;
			}
		}

		.woo-single {
			display: block;
		}

		.woocommerce-info {
			margin-bottom: 0 !important;
		}

		.woocommerce {
			.stacktable {
				&.small-only {
					display:none;
				}
			}

			.order_details {
				padding-left:1em;

				li {
					&:before {
						padding-left:2em;
					}
				}
			}
		}

		.woo-product-primary{
			margin-top:40px;

			.woo-page-title {
				border:none;
				font-size:1.8em;
				text-transform: uppercase;
				padding:40px 0;
			}

			.woo-product {
				float:right;
				width:71%;
				margin-bottom: 40px;

				@media screen and (max-width: pem(768)){
					width:100%;
				}

				&.no-cats {
					max-width: 1024px;
					float:none;
					margin:0 auto;
				}

				.woo-product-title {
					color: #666;
					margin:10px 0 20px;

					h1 {
						font-size:1.5em;
					}

					.woo-item-number {
						color:#999;

						span {
							display:inline-block;
							margin:0 15px;
						}
					}
				}

				.woo-product-images {
					position:relative;

					.onsale {
						top:0;
					}
				}

				.woo-product-description{
					border-bottom:1px solid #ccc;
					padding-bottom:20px;
					margin-bottom: 20px;

					ul {
						margin-left:20px;

						li {
							margin-left:20px;
							position:relative;

							&:before{
								position:absolute;
								left:-20px;
								content: '\F0A7';
								color: #0e67ae;
								font-family: 'Black Tie';
								font-weight: 900;
								font-size:0.9em;
							}
						}
					}
				}

				.woo-add-to-cart{
					.price {
						color:#666;
						margin-bottom: 20px;

						ins {
							text-decoration: none;
						}
					}
				}

				.woocommerce-tabs {
					.wc-tabs {
						background: #e8e8e8;
						padding:7px 14px;

						&:before,
						&:after {
							display:none !important;
						}

						li {
							border:none;
							border-radius: 5px;

							&:before,
							&:after {
								display:none;
							}

							a {
								padding:7px 14px;
							}
						}
					}

					.wc-tab {
						table {
							td {
								padding:5px 10px;
							}
						}
					}
				}
			}

			.woo-sidebar{
				float:left;
				width:25%;
				background: #fafafa;
				box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
				margin-bottom: 40px;

				@media screen and (max-width: pem(768)){
					width:100%;
					
				}
				 
				h4 {
					background:#666;
					color:#fff;
					padding:10px 20px;
				}

				ul {
					padding:15px 30px;

					li {
						margin-bottom: 10px;
						line-height: 1.2em;
					}
				}
			}
		}

		.woo-related {
			clear:both;
			margin-top:60px;	

			h2 {
				background:#666;
				color:#fff;
				font-size:1.2em;
				padding:10px 20px;
				margin-bottom: 20px;
			}
		}

		.woo-cat-landing {
			background:#f4f4f4;
			padding:20px;
			overflow: hidden;

			@media screen and (max-width: pem(768)){
				padding:0;
			}
				 
			.woo-brand-link {
				float:right;
				width:35%;
				display: block;
				padding:20px;
				color:#fff;
				background:#666;
				font-size: 1.4em;
				margin-bottom: 20px;

				@media screen and (max-width: pem(768)){
					width:100%;
				}
				 
				i {
					float: right;
					margin-left:20px;
					color:#aaa;
				}
			}

			.woo-has-brand{
				float:left;
				width:60%;

				@media screen and (max-width: pem(768)){
					width:100%;
				}
			}

			.woo-cat-title {
				font-size:1.6em;
			}
		}

		.woo-page-title {
			border:none;
			font-size:1.8em;
			text-transform: uppercase;
			padding:30px 0;

			@media screen and (max-width: pem(768)){
				padding:15px 0;
			}
		}

		.woo-result-count {
			padding:10px 20px;
			background:#666;
			overflow: hidden;

			@media screen and (max-width: pem(500)){
				text-align: center;
			}
			 

			.woocommerce-result-count {		
				color:#fff;
				margin-bottom: 0;

				@media screen and (max-width: pem(500)){
					float:none;
					margin-bottom: 10px;
				}
				 
			}

			.woo-sort-by {
				float:right;
				color: #aaa;

				@media screen and (max-width: pem(500)){
					float:none;
				}
				 

				a {
					color:#fff;
					margin-left: 20px;

					i {
						margin-left:5px;
					}
				}
			}
		}

		.products {
			padding:0;

			.price {
				color:#666;

				del {
					display: inline;
				}

				ins {
					text-decoration: none;
				}
			}

			.product {
				width:25%;
				margin:0 0 40px;
				padding:20px;
				border-bottom:1px solid #ccc;

				@media screen and (max-width: pem(768)){
					width:50%;
				}
				 
				.woo-product-image{
					position:relative;
					display: flex;
					align-items:center;
					justify-content: center;
					height:200px; 

					@media screen and (max-width: pem(900)){
						height:170px;
					}

					@media screen and (max-width: pem(768)){
						height:220px;
					}
					 
					@media screen and (max-width: pem(500)){
					 	height:100px;
					}
					  
					img{
						max-height: 100%;
						width:auto;
					}
				}

				.woo-product-info {
					height:120px;
					font-size: 1.2em;

					h3 {
						font-weight: bold;
					}
				}
			}

			.product-category {
				height:auto;
				border-bottom:none;
				margin-bottom: 0;
				padding:10px;

				a {
					display:block;
					color:#fff;

					&:hover {
						transform: scale(1.05, 1.05);
					}

					.product-cat-thumb {
						height:200px;

						@media screen and (max-width: pem(550)){
							height:160px;
						}

						.product-cat-overlay {
							display: flex;
							align-items: center;
							justify-content: center;
							height:100%;
							width:100%;
							background:rgba(102,102,102,0.9);
							text-align: center;
							padding:20px;
							transition: background 150ms ease-in-out;

							@media screen and (max-width: pem(550)){
								padding:0;
							}

							&:hover {
								background:rgba(102,102,102,0.7);
							}

							h3 {
								color:#fff;
								font-size:1.4em;
								line-height: 1.2em;

								@media screen and (max-width: pem(550)){
									font-size: 1.2em;
								}
								 
							}
						}
					}

					.product-brand-thumb {
						height:200px;
						display: flex;
					    align-items: center;
					    padding: 20px;
					    justify-content: center;

						@media screen and (max-width: pem(550)){
							height:160px;
						}

						img {
							max-width: 100%;
							max-height: 100%;
							width:auto;
						}

						&.no-logo {
							.product-cat-overlay {
								display: flex;
								align-items: center;
								justify-content: center;
								height:100%;
								width:100%;
								background:#fafafa !important;
								border:1px solid #eee;
								text-align: center;
								padding:20px;
								transition: background 150ms ease-in-out;

								@media screen and (max-width: pem(550)){
									padding:0;
								}

								h3 {
									color:#666;
									font-size:1.4em;
									line-height: 1.2em;

									@media screen and (max-width: pem(550)){
										font-size: 1.2em;
									}
								}
							}
						}

						.product-cat-overlay {
							display: none;
						}
					}
				}
			}
		}

		.woocommerce-pagination {
			.page-numbers {
				border:none;

				&:hover,
				&:focus,
				&:active {
					background:none;
				}

				li {
					border:none;
					margin:0 5px;

					.current {
						background:none;
						font-weight: bold;
					}

					i {
						color:#999;
						font-size:0.9em;
						margin:0 5px;
					}
				}
			}
		}

		.woocommerce-breadcrumb{
			padding: 10px 20px;
			background: #666;
			
			a {
				color: #fff;				
				opacity: .7;
				transition: all 300ms;
				
				&:hover {
					opacity: 1;
				}
			}

			i {
				font-size:0.7em;
				margin:0 10px;
				line-height: 0;
			}
		}

		.shop_table {
			border:none;

			tr{
				th {
					background:#f8f8f8;
					padding:20px 5px;
					border:none;
					text-transform: uppercase;
					font-size:0.9em;

					@media screen and (max-width: pem(768)){
						padding:10px 20px;
					}
					 
				}	

				td {
					border:none;
					padding:20px 5px;
												
					@media screen and (max-width: pem(768)){
						padding:10px 20px;
					}

					&.product-remove {
						padding:20px;

						a {
							color:#e1401b !important;
							line-height: 0.9em;

							&:hover {
								color:#ffffff !important;
								background:#e1401b;
							}
						}
					}

					&.actions {
						.coupon {

							@media screen and (max-width: pem(768)){
								width:100%;
								margin-bottom: 20px;
							}

							#coupon_code {
								padding:8px 10px;
								width:auto;

								@media screen and (max-width: pem(768)){
									width:48%;
								}
							}

							.button {

								@media screen and (max-width: pem(768)){
									float:right;
								}
							}
						}
						 
					}
				}

				&:nth-of-type(even){
					background:#fbfbfb;
				}						

				&:nth-of-type(odd){
					background:#fdfdfd;
				}
			}
			
		}

		.cart-collaterals {
			h2 {
				text-transform: uppercase;
				font-size: 1.4em;
			}

			.shop_table {
				th {
					padding:10px 20px;
				}

				td {
					padding:10px 20px;
				}			

				li {
					&:before {
						display: none;
					}
				}
			}
		}

		#customer_details {
			margin-bottom: 40px;
		}

		#order_review {
			.shop_table {
				tr {
					th,
					td {
						padding:20px;
					}
				}

				li {
					&:before {
						display: none;
					}
				}
			}
		}
	}
}